@charset "utf-8";

html {
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.6em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  outline: none;
  text-decoration: none;
  color: #1998fa
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0;
  border: none;
  line-height: normal;
  vertical-align: middle;
}

address,
article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
  margin: 0;
  padding: 0;
}

.board {
  display: table;
  width: 100%;
  height: 100%;
}

.board .container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#boardCanvas {
  display: inline-block;
}
